body{
    font-family: monospace, sans-serif;
    text-align: center;
    background-color: #e6ffff;
}

#listOfHabilities, #habilities{
    text-align: left;
    text-decoration: none;
}

#listOfHabilities {
    background-color: #99ffff;
    border-radius: 6px;
}

.description {
    font-size: 20px;
}

#location {
    text-decoration: underline;
}

.links {
    color: #009999;
    text-decoration: none;
}

#html {
    font-size: 1.1em;
}

#image{
    border-radius: 5%;
    background-color: #009999;
    padding: 0px 0px 3px 3px;
}

.button{
    color: #e6ffff;
    background-color: #009999;    
    padding: 15px 30px 15px 30px;
    border-radius: 4px;
}