* {
    margin: 0;
    padding: 0;
}

body{
    font-family: monospace, sans-serif;
    text-align: center;
    background-color: #e6ffff;
    background: rgb(36,36,36);
    background: linear-gradient(90deg, rgba(36,36,36,1) 0%, rgb(97, 96, 96) 100%);
}

.description >h1 {
    margin-left: 350px;
    margin-right: 100px;
}

.subDescription >h2 {
    text-align: center;
    margin-inline: 51.5%;
}

.subDescription >ul {
    text-align: left;
    list-style-type: none;
    background-color: #99999980;
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 15px;
    margin-inline: 38%;
    padding: 10px;
    position: relative;
    left: 120px;
}

.description {
    font-size: 20px;
}

.description >p {
    font-size: 20px;
    margin-left: 350px;
    margin-right: 100px;
}

#location {
    text-decoration: underline;
    font-size: 16px;
    position: absolute;
    bottom: 40px;
    left: 65px;
}

.links {
    color: white;
    text-decoration: none;
}

.subDescription li:not(:nth-child(n + 2)) {
    font-size: 1.2em;
}

#image{
    border-radius: 5%;
    box-shadow: 4px 4px 4px black;
    position: relative;
    float: left;
    margin-left: 30px;
    top: 60px;
}

.button {
    color: white;
    background-color: gray;    
    padding: 15px 30px 15px 30px;
    border-radius: 4px;
}

.hoverButton:hover {
    color: white;
    text-decoration: underline;
    background-image: linear-gradient(to bottom right, black, gray);
}

.hoverButton:active {
    background-image: linear-gradient(to bottom right, gray, black);
    color: black;
}

.leftDescription #github {
    position: absolute;
    bottom: 15px;
    left: 100px;
}

.leftDescription #linkedin {
    position: absolute;
    bottom: 15px;
    left: 195px;
}

.hover:hover {
    color: black;
    text-decoration: underline;
}

.leftDescription {
    position: relative;
    top: 535px;
}

.buttons {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px;
}
