.header {
  display: flex;
  background-color: orange;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
}

.navigationLinksDiv {
  display: flex;
}

.navigationLinks {
  text-decoration: none;
  margin: 0px 10px
}

.headerTitle {
  margin: 0px 10px
}