#projects {
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  left: 100px;
  opacity: 0;
  margin-top: -250px;
}

.hiddenOff {
  animation: slide 1s forwards;
}

#projects h2 {
  margin-bottom: 80px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 1px 2px 5px rgb(110, 110, 110);
}

#projects-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  max-width: 100%;
  margin-bottom: 200px;
}

#projects-div ul {
  list-style: none;
  text-align: center;
  padding: 20px 10px;
  border-radius: 30px;
  box-shadow: 1px 2px 5px rgb(110, 110, 110);
  transition: 0.3s;
  margin-bottom: 50px;
  margin: 20px;
}

#projects-div ul:hover {
  box-shadow: 0 0 20px rgba(183, 0, 255, 0.6);
}

#projects-div li {
  max-width: 350px;
  margin: 0 20px;
}

#projects-div img {
  width: 300px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgb(110, 110, 110);
}

#projects-div a {
  font-size: 1.5em;
  margin-left: 10px;
}

.project-links {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.projectDescription {
  height: 150px;
}

a:hover {
  color: blueviolet;
}

@keyframes slide {

  100% { left: 0;
    opacity: 1; }
}
